<footer id="page-footer">
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9 footer-nav">
                    <nav>
	                    <ul class="unstyled row">
	                    	<li class="col-xs-12 col-sm-4"><a href="spalte-1/">Spalte 1</a>
	                    		<ul class="unstyled">
			                    	<li><a href="http://www.ntb.ch/studium/bachelor/">Bachelor</a></li>
			                    	<li><a href="http://www.ntb.ch/studium/master/">Master</a></li>
			                    	<li><a href="http://www.ntb.ch/news-events/">News &amp; Events</a></li>
			                    	<li><a href="http://www.ntb.ch/faqs/">FAQ</a></li>
			                    	<li><a href="http://www.ntb.ch/downloads/">Downloads</a></li>
		                    		<li><a href="http://www.ntb.ch/intranet/">Intranet</a></li>
	                    		</ul>
	                    	</li>
                    		<li class="col-xs-12 col-sm-4"><a href="spalte-2/">Spalte 2</a>
                    			<ul class="unstyled">
                    				<li><a href="http://www.ntb.ch/wb/">Weiterbildung / Kurse</a></li>
                    				<li><a href="http://www.ntb.ch/news-events/medien/">Medien</a></li>
                    				<li><a href="http://www.ntb.ch/impressum/">Impressum</a></li>
                    				<li><a href="http://www.ntb.ch/fue/">Forschung &amp; Dienstleistungen</a></li>
                    				<li><a href="http://www.ntb.ch/die-ntb/kontakt/beratungsstellen/">Beratungsstellen</a></li>
                    				<li><a href="http://www.ntb.ch/sitemap/">Sitemap</a></li>
                    			</ul>
                    		</li>
                    		<li class="col-xs-12 col-sm-4"><a href="spalte-3/">Spalte 3</a>
                    			<ul class="unstyled">
                    				<li><a href="http://www.ntb.ch/die-ntb/">Die NTB</a></li>
                    				<li><a href="http://www.ntb.ch/die-ntb/kontakt/">Kontakt</a></li>
                    			</ul>
                    		</li>
                    	</ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <ul class="unstyled">
	                    <li><a href="http://www.ntb.ch/impressum/">Impressum</a></li>
	                    <li><a href="http://www.ntb.ch/sitemap/">Sitemap</a></li>
	                    <li><a href="https://intranet.ntb.ch/">Intranet</a></li>
	                    <li><a href="http://www.ntb.ch/die-ntb/kontakt/">Kontakt</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 copyright">© NTB Interstaatliche Hochschule für Technik Buchs</div>
            </div>
        </div>
    </div>
</footer>