<!DOCTYPE html>
<html lang="de">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/nav %>
		<div class="container mb-3 px-5">
			<h1 class="display-4">404 Nicht gefunden</h1>
			<br>
			<hr>
			<p>
				Ihre Anfrage konnte leider nicht verarbeitet werden.
			</p>
		</div>

		<% include ../partials/footer %>
	</body>
</html>

