<!DOCTYPE html>
<html lang="de">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/nav %>
		<div class="container mb-3 px-5">
			<h1 class="display-4">Vergleichstool Haftungsausschluss</h1>
			<br>
			<hr>

			<p>Die NTB (Interstaatliche Hochschule für Technik NTB) übernimmt keinerlei Gewähr hinsichtlich der Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der nachfolgenden Interpretationen und Berechnungen.
			<br><br>Haftungsansprüche gegen die NTB wegen Falschauslegung der Heizanlage, welche aus dem Zugriff oder der Nutzung der berechneten Informationen entstanden sind, werden ausgeschlossen. Die Einsatzgrenzen des Gebäudes und der Wärmepumpen werden bei der Auslegung mit dieser Datenbank nicht berücksichtigt.
			<br><br>Die NTB behält sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.</p>
		</div>

		<% include ../partials/footer %>
	</body>
</html>
