<!DOCTYPE html>
<html lang="de">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/nav %>
		<div class="container mb-3 px-5">
			<h1 class="display-4">Vergleichstool Wärmepumpen Instandhaltung</h1>
			<br>
			<hr>
			<div class="row"><h5>Wählen Sie eine Tabelle aus</h5></div>
			<div class="btn-group-vertical">
				<a href="/auftraggeber" class="btn btn-primary text-left">Auftraggeber</a>
				<a href="/bauart" class="btn btn-primary text-left">Bauarten</a>
				<a href="/bauartinfo" class="btn btn-primary btn-block text-left">Bauart Info</a>
				<a href="/bedingungenrelativ" class="btn btn-primary btn-block text-left">BedingungenRelativ</a>
				<a href="/heizungstyp" class="btn btn-primary btn-block text-left">Heizungstyp</a>
				<a href="/info" class="btn btn-primary btn-block text-left">Info</a>
				<a href="/kategorie" class="btn btn-primary btn-block text-left">Kategorie</a>
				<a href="/norm" class="btn btn-primary btn-block text-left">Normen</a>
				<a href="/bedingung" class="btn btn-primary btn-block text-left">Prüfbedingungen</a>
				<a href="/resultat" class="btn btn-primary btn-block text-left">Resultat</a>
				<a href="/verbindung" class="btn btn-primary btn-block text-left">Verbindung</a>
				</div>
			</div>

		<% include ../partials/footer %>
	</body>
</html>